<div class="row">
    <div class="col">
        <div class="row" *ngIf="user == undefined; else userDefined">
            <div class="col">
                <a (click)="popup('login', $event)">Login</a>
            </div>
            <div class="col">
                <a routerLink="/signIn">Sign In</a>
            </div>
        </div>
        <ng-template #userDefined>
            <div class="row">
                <div class="col">
                    {{user.nom}} {{user.prenom}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a (click)="logOut()">LogOut</a>
                </div>
            </div>
        </ng-template>
    </div>

</div>