<div class="row">
    <div class="col">
        <input type="text" placeholder="Votre email" [(ngModel)]="email" class="form-control" name="email" />
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="password" placeholder="Votre mot de passe" [(ngModel)]="password" class="form-control" name="password" />
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn form-control btn-danger" (click)="login()">Se connecter</button>
    </div>
</div>